{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <style>
        .form-register {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            padding-left: 0;
        }

        .form-register input[type="text"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-register input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
    <main class="form-register">
        {{ form_start(registrationForm) }}
        <h1 class="h3 mb-3 fw-normal">Register Account</h1>
        {{ form_row(registrationForm.username) }}

        <div class="mb-3">
            {{ form_label(registrationForm.address, 'Public wallet address') }} <img width="15" src="https://ethereum.org/static/6b935ac0e6194247347855dc3d328e83/31987/eth-diamond-black.png" alt="ethereum"/>
            {{ form_widget(registrationForm.address) }}

            <div class="form-error">
                {{ form_errors(registrationForm.address) }}
            </div>
        </div>
        {{ form_row(registrationForm.timezone) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.captcha) }}

        {{ form_end(registrationForm) }}
    </main>
{% endblock %}

{% block javascripts_user_defined %}

{% endblock %}
